nav {
  font-size: 12px;
  background-color: rgb(19, 51, 61);
  box-shadow: 0 1px 2px rgba(19, 51, 61, 0.5);
  margin: 3em 0 6em;
  padding: 0 1em;
  height: 44px; 
  overflow: hidden; 
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 88px;
  position: relative;
}

nav li { display: inline-block; }

nav a {
  display: inline-block;
  padding: 0 1em;
  color: rgb(236, 236, 236);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 44px;
  height: 44px;
}

nav a:hover { background-color: rgba(255, 255, 255, 0.08); }

nav li:last-child { 
  position: absolute; 
  right: 0;
  bottom: 44px; 
  background-image: linear-gradient(to right, rgba(19, 51, 61, 0) 0, rgba(19, 51, 61, 1) 2em);
  padding-left: 3em;
}

nav li:nth-last-child(2) {
  display: none; }

nav#menu:target {
  height: auto;
  padding: 0;
}

nav#menu:target ul { max-height: none; }

nav#menu:target li { display: block; }

nav#menu:target a {
  display: block;
  padding: 0 2em;
  background-color: rgba(255, 255, 255, 0.05);
}

nav#menu:target a:hover { background-color: rgba(255, 255, 255, 0.08); }

nav#menu:target li:not(:first-child) { margin-top: 2px; }

nav#menu:target li:last-child { display: none; }

nav#menu:target li:nth-last-child(2) {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border-left: 2px solid rgb(19, 51, 61);
}

body{ 
    font-family: Helvetica, sans-serif;
    background-image: url("images/joker.jpg");
    background-color: rgb(15,15,15);
    background-size: 107%;
    background-repeat: no-repeat;
        
}
    
h1{
    color:white;
    font-family: Helvetica, sans-serif;
    font-size: 4em;
    padding-left: 5%;
}

h2{
    color:white;
    font-family: Helvetica;
    font-size: 3em;
    text-align: center;
    text-shadow: white 1px 0 20px;
}
i{
    text-shadow: white 1px 0 10px;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   

}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.avis{
    width: 100%;
    position: relative;
}

.pour{
    width: 30%;
    position: absolute;
    left: 10%;
}

.contre{
    width: 30%;
    position: absolute;
    right: 10%;
} 

    